[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/esp8266-oled-ssd1306"]
	path = components/esp8266-oled-ssd1306
	url = https://github.com/ThingPulse/esp8266-oled-ssd1306.git
